/*
    This CSS contains style for Resource Properties of an Object of Sem T++
*/
/* 
    Created on : Oct 5, 2015, 10:31:55 PM
    Author     : Alexandru Podgoreanu
*/

.tagContainer, .autocompleteContainer, .searchTag{
    border: 1px solid #ddd !important;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.autocompleteContainer{
    height:80px  
}

.tagContainer{
    height:150px  
}

.atag{
    background: #e9eaed;
    border: 1px solid #9daccb;
    border-radius: 2px;
    color: #1e2d4c;
    cursor: default;
    float: left;
    height: 2em;
    margin: 6px 2px 2px 6px;
    padding: 0 3px 0 0px;
    position: relative;
    white-space: nowrap;
    max-width: 350px;
}

.wtag, .ctag {
    display: inline-block;
    width: inherit !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2px !important;
    padding-left: 5px !important;
    
}

.wtag {
    margin-top: 6px;
    font-size:12px;
}
.ctag {
    font-size:10px;
    line-height: 140%;

}

.ctag span{
    cursor: pointer;
}
.ctag a{
    text-decoration: none;

}
.ctag a:hover{
    color: red;
    cursor: pointer;
}

.sharedtag {
    outline: 2px solid #000000 !important;
    box-shadow: 0 0 1px 1px #9daccb;
}

.deletedtag {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    border: 2px dashed #000000 !important;
}

