/* 
    Created on : 5-apr-2015, 22.11.10
    Author     : Alexandru Podgoreanu 
*/


@media (min-width:768px){#hiddenMenu{
                             width:350px !important;
                             min-width:350px !important;
                             max-width:350px !important;
                         }
}
@media (max-width:768px){.nav>li {
                             margin: 15px 0 15px 0 !important;
                         }
}
@media (min-width:992px){#hiddenMenu{
                             width:550px !important;
                             min-width:550px !important;
                             max-width:550px !important;
                         }
}
@media (min-width:1200px){#hiddenMenu {
                              width:550px !important;
                              min-width:550px !important;
                              max-width:550px !important;
                          }
}


main{
    min-height: 700px;
}

#contextMenu, #contextMenuShowHideTagsv1{
    position: absolute;
    display:none;
}


#hiddenMenu{
    position: fixed;
    border: 0px !important;

}
/*
#hiddenMenu #propBar{
    color: #fff;
    background-color: #337ab7;
    border-color: #000;
}*/

#hiddenMenu .panel .panel-heading {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    border-top-left-radius: 0px !important; 
    border-top-right-radius: 0px !important;
}

#hiddenMenu .panel {
    margin:0px !important; 
    border-radius: 0px !important;
    border: 0px !important;
}

.glyphicon-remove-circle{
    cursor: pointer;
    color: #ffffff;

}

#hiddenMenu #propBar{
    font-size: 20px;
    padding: 6px;
    color: #ffffff;
    background-color: #337ab7;
    border-color: #337ab7;
    border-bottom: .5px solid ;
}
#hiddenMenu .panel .panel-body {
    display: none;
    padding : 15px;
}

.no-hover,.no-hover:hover,.no-hover:link,.no-hover:active,.no-hover:visited{text-decoration:none; color: #5e5e5e}
.applybackground-grey{
    background-image: url(../images/bg_body.jpg);
}

.text-divider{
    text-align: center;
    color: #AAA;
    margin: 0;
    padding: 10px 0;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}
.text-divider span{
    width: 100%;
    border-top: 1px solid #CCC;
    position: absolute;
    left: 0;
    top: 18px;
    z-index: 1;

}
.text-divider em{
    background: #FFF;
    padding: 0 7px;
    position: relative;
    z-index: 0;
}

.dropdown-menu {
    min-width:140px !important;
}


.nav li a{
    display: inline !important;
    padding: 18px 5px 18px 15px !important;
}

.remove{
    cursor: pointer;
    font-weight: bold;
    padding: 18px 15px 18px 5px !important;
}

.active .remove{
  color: #555;
  background-color: #e7e7e7;
  
}

@media (min-width: 768px){
    .navbar-nav {
        margin: 15px !important;
    }
}

.table-base {
    border-radius: 50%;
    width: 550px;
    height: 550px;
    background: #c7ddef;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 50px;
}

main #addElement {
    float:right;
    cursor: pointer;
}

.autocomplete-tag{
    margin-bottom:15px;
}
.userIcon1 {font-size: 24px}

#userOnTable .media:first-child{margin-top: 15px!important;}
#userOnTable .media {margin-left: 15px!important;}

.margin-20-top{
    margin-top: 20px !important;
}
.margin-30-top{
    margin-top: 30px !important;
}
.margin-40-top{
    margin-top: 40px !important;
}
.margin-60-top{
    margin-top: 60px !important;
}
.margin-15-top{
    margin-top: 15px !important;
}
.margin-10-top{
    margin-top: 10px !important;
}
.margin-6-top{
    margin-top: 6px !important;
}

.margin-20-bottom{
    margin-bottom: 20px !important;
}
.margin-40-bottom{
    margin-bottom: 40px !important;
}
.margin-15-bottom{
    margin-bottom: 15px !important;
}
.margin-10-bottom{
    margin-bottom: 10px !important;
}
.margin-6-bottom{
    margin-bottom: 6px !important;
}

.margin-20-left{
    margin-left: 20px !important;
}
.margin-15-left{
    margin-left: 15px !important;
}
.margin-10-left{
    margin-left: 10px !important;
}
.margin-6-left{
    margin-left: 6px !important;
}

.margin-20-right{
    margin-right: 20px !important;
}
.margin-15-right{
    margin-right: 15px !important;
}
.margin-10-right{
    margin-right: 10px !important;
}
.margin-6-right{
    margin-right: 6px !important;
}

.padding-left-10{
    padding-left: 10px !important;
}

.padding-left-15{
    padding-left: 15px !important;
}

.padding-left-20{
    padding-left: 20px !important;
}

.padding-left-10{
    padding-left: 10px !important;
}

.padding-left-15{
    padding-left: 15px !important;
}

.padding-left-20{
    padding-left: 20px !important;
}

.padding-top-10{
    padding-top: 10px !important;
}

.padding-top-15{
    padding-top: 15px !important;
}

.padding-top-20{
    padding-top: 20px !important;
}

.padding-bottom-10{
    padding-bottom: 10px !important;
}

.padding-bottom-15{
    padding-bottom: 15px !important;
}

.padding-bottom-20{
    padding-bottom: 20px !important;
}


.no-padding-left{
    padding-left: 0px !important;
}
.no-padding-bottom{
    padding-bottom: 0px !important;
}
.no-padding-top{
    padding-top: 0px !important;
}
.no-padding-right{
    padding-right: 0px !important;
}

.no-margin-left{
    margin-left: 0px !important;
}
.no-margin-bottom{
    margin-bottom: 0px !important;
}
.no-margin-top{
    margin-top: 0px !important;
}
.no-margin-right{
    margin-right: 0px !important;
}
